# Google Sheets
SPREADSHEET_ID=1kMToTxPnOahAkYUJ2kguAxd0ChakGHDhr-EnMt0iSN4
GID_RESULTS=166411685

# Service account
GOOGLE_SERVICE_ACCOUNT_JSON=secrets/service_account.json

# Server
HOST=127.0.0.1
PORT=8000
